*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body,html
{
    background-color: #efedd6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
    overflow-x: hidden;


}

.box
{
    background-color: steelblue;
    color: white;
    width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(-400%);
    transition: transform 0.5s ease;
}

h1 
{
    margin: 2rem;
}

.box:nth-of-type(even)
{
    transform: translate(400%);
}

.box.show
{
    transform: translate(0);
}


.box h2 
{
    font-size: 45px;
}